.bodyStyle{
background-image: url("../tech1.jpg");
    background-size: cover;
 
    height:100%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
 