.loginMain{
    background-image: url("../tech1.jpg");
    background-size: cover;
    color:var(--contrastColor);
    height:100%;
    width:100vw;
    overflow: auto;
    display: flex;
align-items: center;
justify-content: center;
}

.loginInner{
text-align: center;
}

.loginImg{
    height: 50px;
}

.loginButton{
    height:100px;
    width: 227px;
    margin: 10px 0px 5px 0px;
    border-radius: 10px;
    border-width: 2px;
    background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald";
border-color: gray;

}

.loginButton:hover{
    background-color: rgba(67, 94, 110,0.747);
}

.loginInput{
    height:20px;
    width: 220px;
    border-radius: 6px;
    border-width: 2px;
margin: 8px 0px 10px 0px;
background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald";
border-color: gray;
border-style: solid;
}

.loginInputLabel{

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Oswald";

}

.signUpButton{
    height:20px;
    width: 227px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Oswald";
    color: var(--contrastColor);
    text-decoration: underline;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}