.buttonSettingsMenu{
    height:80px;
    width: 80vw;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 2px;
    background-color: var(--mainColor2);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald";
    border-color: rgba(67, 94, 110,0.747);
}

.buttonSettingsMenu:hover{
    background-color: rgba(67, 94, 110,0.747);
}
