* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face{
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.ttf");
  }
  
  a{
    color:var(--contrastColor)
  }
  
  
  
  .App{
    font-family: "Oswald";
    
  }
  
  :root{
    --mainColor:black;
    --mainColor2:rgba(22, 22, 22, 1);
    --buttonTitleContrast:rgba(53, 53, 53, 0.747);
    --mainColor2Transparency:rgba(10, 10, 10, 0.911);
    --contrastColor:white;
  }
  
  button{
    margin-top: 1px;
    font-size:clamp(9px, 4vw, 12px);
    background-color:var(--contrastColor);
    color:var(--mainColor);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--mainColor);
    font-family: "Oswald";
  
  }
  
  button:focus{
    outline: none;
    box-shadow: none;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
  
  .switchDisplayMode{
    color:var(--contrastColor);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    background-color:  rgb(46, 46, 46);
    text-align: center;
    padding: 4px 0px 5px 0px;
    height: 15px;
  }

  .Header{
    background-color: var(--mainColor2);
    color:var(--contrastColor);
    padding-top: 30px;
    text-align: center;
    letter-spacing: 1px;
  
  }

  .headShotImg{
    height: 100px;
  }

 .title{
     padding: 1px 0px 1px 0px;
     text-transform: uppercase;
     margin-top: 10px;
     /*background-color: var(--mainColor);*/
     background-color: rgb(46, 46, 46);
     letter-spacing: 2px;
     font-size: 13px;
     height: auto;
 }

 .mainArea{
   height:  100%;
   background-image: url("images/tech1.jpg");
   background-size: cover;
 }
 
 .titleText{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Oswald";
  color: white;
  text-align: center;
  border-radius: 6px;
  border-width: 2px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;

}

.menuButton{
  height:130px;
  width: 80vw;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  border-width: 2px;

 background-color: var(--buttonTitleContrast);
  color: var(--contrastColor);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-color: rgb(114, 114, 114);
}

.menuButton:hover{
  background-color: rgba(67, 94, 110,0.747);
}

.start{

  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonImg{
  height: 70px;
}

.jobViewContainer{
width:100vw;
height:100%;
display: flex;
justify-content: center;
align-items: center;
}

.jobView{
  color:white;
  max-height: 350px;
  overflow: hidden;
  width: 50%;
}

.jobView::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
  border-radius: 10px;
  
}

.jobView::-webkit-scrollbar {
  width: 10px;

}

.jobView::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;

}

.JobSectionTitle{
  font-size: 25px;
  padding-bottom: 25px;
}

.JobSeparator{
  background-color: rgb(53, 53, 53);
  width: 95%;
  height: 3px;
  margin-bottom: 15px;
}

.jobCard{
  background-color: rgb(7, 7, 7,0.777);
  width: calc(95% - 20px);
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.expand{
  background-color: rgba(28, 29, 29, 0.877);
  margin-right: 15px;
  width:40px;
  height: 40px;
  color:white;
  font-size: 30px;
  line-height: 0px;
}

.expand:hover{
  background-color: rgba(67, 94, 110,0.747);
}

.pendingContainer{
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.jobWrapperCard{
  background-color: rgba(28, 29, 29, 0.705);
  padding: 20px 15px 0px 15px;

  border-radius: 12px;
  margin-bottom: 15px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}