* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  
}

@font-face{
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.ttf");
  }
  
  a{
    color:var(--contrastColor)
  }
  
  
  
  .App{
    font-family: "Oswald";
    
  }
  
  :root{
    --mainColor:black;
    --mainColor2:rgba(22, 22, 22, 1);
    --buttonTitleContrast:rgba(53, 53, 53, 0.747);
    --mainColor2Transparency:rgba(10, 10, 10, 0.911);
    --contrastColor:white;
  }
  
  button{
    margin-top: 1px;
    font-size:clamp(9px, 4vw, 12px);
    background-color:var(--contrastColor);
    color:var(--mainColor);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--mainColor);
    font-family: "Oswald";
  
  }
  
  button:focus{
    outline: none;
    box-shadow: none;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
  
  .switchDisplayMode{
    color:var(--contrastColor);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    background-color:  rgb(46, 46, 46);
    text-align: center;
    padding: 4px 0px 5px 0px;
    height: 15px;
  }

  .Header{
    background-color: var(--mainColor2);
    color:var(--contrastColor);
    padding-top: 30px;
    text-align: center;
    letter-spacing: 1px;
  
  }

  .headShotImg{
    height: 100px;
  }

 .title{
     padding: 1px 0px 1px 0px;
     text-transform: uppercase;
     margin-top: 10px;
     /*background-color: var(--mainColor);*/
     background-color: rgb(46, 46, 46);
     letter-spacing: 2px;
     font-size: 13px;
     height: auto;
 }

 .mainArea{
   height:  100vh;
   background-image: url("images/tech1.jpg");
   background-size: cover;
 }
 
 .titleText{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Oswald";
  color: white;
  text-align: center;
  border-radius: 6px;
  border-width: 2px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;

}

.menuButton{
  height:130px;
  width: 80vw;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  border-width: 2px;

 background-color: var(--buttonTitleContrast);
  color: var(--contrastColor);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-color: rgb(114, 114, 114);
}


.help{
  height:40px;
width: 40px;
  margin-top: 20px;
  border-radius: 50%;

background-color: rgba(255, 0, 0, 0);
 background-image: url("images/help1.png");
 background-size: contain;
  color: var(--contrastColor);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-style: none;
position: absolute;
bottom: 30px;
right: 6px;

font-size: 1em;

text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;

}

.logoutPopup{
  height:40px;
width: 40px;
  margin-top: 20px;
  border-radius: 50%;

background-color: rgba(255, 0, 0, 0);
 background-image: url("images/logout.png");
 background-size: contain;
  color: var(--contrastColor);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-style: none;
position: absolute;
bottom: 30px;
left: 6px;

font-size: 1em;

text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;

}





.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(48, 48, 48, 0.877);
  transition: all 300ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: calc(50vh - 180px) auto;
  padding: 30px;
  background-color: rgba(7, 7, 7, 0.856);
  color: var(--contrastColor);

  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-color: rgb(114, 114, 114);
border-style: solid;
border-width: 2px;
  border-radius: 15px;
  width: 40%;
  position: relative;

  height: auto;
}

.popup h2 {
  margin-top: 0;
  color:white;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(58, 58, 58, 0.349);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-color: rgb(114, 114, 114);
border-style: solid;
border-width: 1px;
}
.popup .close:hover {
  color: #0673d8;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
  color:white;
  text-transform: none;
}


li{
  margin: 10px 0px 10px 10px;
  padding: 10px 15px 10px 15px;
  background-color: #25252562;
  border-radius: 9px;
}

ul{
  padding-top: 20px;
}



.help:hover{
  background-color: rgba(83, 92, 97, 0.747);
}


.menuButton:hover{
  background-color: rgba(67, 94, 110,0.747);
}

.start{

  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonImg{
  height: 70px;
}

.jobViewContainer{
width:100vw;
height:100%;
display: flex;
justify-content: center;
align-items: center;
transition: all 300ms;
}

.jobView{
  color:white;
  max-height: 450px;
  overflow: auto;
  width: 50vw;
  transition: all 300ms;
}

.DivMask{
 
}

.jobView::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
  border-radius: 10px;
  
}

.jobView::-webkit-scrollbar {
  width: 10px;

}

.jobView::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;

}

.JobSectionTitle{
  font-size: 25px;
  padding-bottom: 25px;
}

.JobSeparator{
  background-color: rgb(53, 53, 53);
  width: 95%;
  height: 3px;
  margin-bottom: 15px;
}

.jobCard{
  background-color: rgb(7, 7, 7,0.777);
  width: calc(95% - 20px);
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  transition: all 300ms;
}

.expand{
  background-color: rgba(28, 29, 29, 0.877);
  margin-right: 15px;
  width:40px;
  height: 40px;
  color:white;
  font-size: 30px;
  line-height: 0px;
  transition: all 300ms;
}

.expand:hover{
  background-color: rgba(67, 94, 110,0.747);
}

.pendingContainer{
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  text-align: center;
  line-height: 170%;
}

.jobWrapperCard{
  background-color: rgba(28, 29, 29, 0.795);
  padding: 20px 15px 0px 15px;
  transition: all 300ms;
  border-radius: 12px;
  margin-bottom: 15px;
  border-color: rgba(67, 94, 110,0.747);
  color:white;
  border-style: solid;
  border-width: 3px;
  
}

.loginContainer{
  color:white;
  width:100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.loginInner{
  text-align: center;
  background-color:  rgba(36, 36, 36, 0.87);
  padding: 10px 10px 10px 10px;
  border-color: rgba(67, 94, 110,0.747);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px 25px 10px 25px;
  }
  
  .loginImg{
      height: 50px;
  }
  
  .loginButton{
      height:100px;
      width: 227px;
      margin: 10px 0px 5px 0px;
      border-radius: 10px;
      border-width: 2px;
      background-color: var(--buttonTitleContrast);
      color: var(--contrastColor);
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: "Oswald";
  border-color: gray;
  
  }
  
  .loginButton:hover{
      background-color: rgba(67, 94, 110,0.747);
  }
  
  .loginInput{
      height:20px;
      width: 220px;
      border-radius: 6px;
      border-width: 2px;
  margin: 8px 0px 10px 0px;
  background-color: var(--buttonTitleContrast);
      color: var(--contrastColor);
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: "Oswald";
  border-color: gray;
  border-style: solid;
  }
  
  .loginInputLabel{
  
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 15px;
      font-family: "Oswald";
  
  }
  
  .signUpButton{
      height:20px;
      width: 227px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 11px;
      font-family: "Oswald";
      color: var(--contrastColor);
      text-decoration: underline;
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
  }
  
  .signUpButton:hover{
      color:  rgb(120, 197, 241);
  }

  .SubmitJobContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SubmitJob{
    background-color: rgba(36, 36, 36, 0.87);
    color: white;
    border-radius: 10px;
    border-width: 2px;
    padding: 25px 35px 25px 35px;
    text-align: center;
    border-color: rgba(67, 94, 110,0.747);
    border-width: 3px;
    border-style: solid;
  }

  .SubmitButton{
    height:30px;
    width: 120px;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 6px;
    border-width: 2px;
  
   background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Oswald";
  border-color: rgb(114, 114, 114);
  }


  .SubmitButtonPass{
    height:30px;
    width: 180px;
    margin-top: 20px;
    border-radius: 6px;
    border-width: 2px;
  
   background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Oswald";
  border-color: rgb(114, 114, 114);
  }

  .SubmitButtonUpdate{
    height:30px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    border-width: 2px;
  
   background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Oswald";
  border-color: rgb(114, 114, 114);
  }
  
  .SubmitButton:hover{
    background-color: rgba(67, 94, 110,0.747);

  }

  .SubmitButtonPass:hover{
    background-color: rgba(67, 94, 110,0.747);

  }

  .SubmitButtonUpdate:hover{
    background-color: rgba(67, 94, 110,0.747);

  }

  .newJobTextIn{
    height:20px;
    width: 230px;
    border-radius: 6px;
    border-width: 2px;
margin: 8px 0px 10px 0px;
background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald";
border-color: gray;
border-style: solid;
padding: 2px 5px 2px 5px;
  }

.newJobDropDown{
  height:30px;
  width: 245px;
  border-radius: 6px;
  border-width: 2px;
margin: 8px 0px 10px 0px;
background-color: var(--buttonTitleContrast);
  color: var(--contrastColor);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald";
border-color: gray;
border-style: solid;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .newJobFileIn{
    transition: all 300ms;
    height:21px;
    width: 220px;
    border-radius: 6px;
    border-width: 2px;
margin: 8px 0px 10px 0px;
background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald";
border-color: gray;
border-style: solid;
text-align: center;
padding-left: 14px;
padding-top: 1px;
padding-bottom: 8px;
  }

  .newJobFileIn input{
    height:30px;
    width: 120px;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 6px;
    border-width: 2px;
  
   background-color: var(--buttonTitleContrast);
    color: var(--contrastColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Oswald";
  border-color: rgb(114, 114, 114);
  }

  .newJobFileIn input:after {
    content:"\a";
    white-space: pre;
  }

  .menuContainer{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 100%;
  }

  .menuMain{
    color:white;
  }



.buttons{
overflow: auto;
max-height:95%;
}

.signUpContainer{
  width: 100vw;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpInternal{
color:white;
}

.jobTitleVJ{
  font-size: 20px;
  color:rgb(87, 145, 179);
  padding-bottom: 5px;
}

.jobTitleVJS{
  font-size: 20px;
  color:rgb(121, 221, 101);
  padding-bottom: 5px;
}

.jobTitleVJE{
  font-size: 20px;
  color:rgb(212, 108, 94);
  padding-bottom: 5px;
}

.UOcontainer{
  background-color: #1f1f1fe5;
  color:white;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
  border-color: rgba(67, 94, 110,0.747);
  border-style: solid;
  border-width: 3px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
}

.UOWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.PassChangeContainer{
  background-color: #161616e5;
  color:white;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
  border-color: rgba(67, 94, 110,0.747);
  border-style: solid;
  border-width: 3px;
  width: 50%;
  max-width: 400px;
  text-align: center;

}

.PassChangeWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formPass input{
  border-color: rgb(114, 114, 114);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 2px 5px 2px 5px;
  margin: 2px 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

input{
  border-color: rgb(114, 114, 114);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 2px 5px 2px 5px;
  margin: 2px 0px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.formPass li{
  background-color: rgba(34, 34, 34, 0.664);
 padding:10px 0px 10px 0px;
 list-style: none;
}

.formPass label{
margin-bottom: 5px;
}

.formPass label:after {
  content:"\a";
  white-space: pre;
}



.PWchange{
  margin-top: 5px;
}

.passReq{
  background-color: rgba(36, 36, 36, 0.767);
  width: 80%;
  margin:auto;
  border-radius: 5px;
  padding: 1px 0px 2px 0px;
}

.passInner{
  background-color: rgba(39, 39, 39, 0.61);
  border-radius: 8px;
  border-color: rgba(67, 94, 110,0.747);
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px 5px 10px;
  margin: 4px 0px 4px 0px;
}

.newJobLabel{
  text-transform: uppercase;
  font-size: 15px;
  color:rgb(255, 255, 255);
}

button{
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  

}