@font-face{
  font-family: "Oswald";
  src: url("./Oswald-Light.ttf");
}

a{
  color:var(--contrastColor)
}

img{
  max-width:80px;
  width:12vw;
  min-width: 70px;
}

.App{
  font-family: "Oswald";
  
}

:root{
  --mainColor:black;
  --mainColor2:rgb(56, 56, 56);
  --mainColor2Transparency:rgba(56, 56, 56, 0.911);
  --contrastColor:white;
}

button{
  margin-top: 1px;
  font-size:clamp(9px, 4vw, 12px);
  background-color:var(--contrastColor);
  color:var(--mainColor);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--mainColor);
  font-family: "Oswald";

}

button:focus{
  outline: none;
  box-shadow: none;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.switchDisplayMode{
  color:var(--contrastColor);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size:clamp(6px, 4vw, 9px);
  background-color: var(--mainColor);
  text-align: center;
  padding: 4px 0px 5px 0px;
}
