.display{
    background-color: var(--mainColor2Transparency);
    color:var(--contrastColor);
    height:100%;
    width:100vw;
    overflow: auto;
}

p{
    font-family: "Oswald";
    font-size: clamp(10px, 4vw, 17px);
    padding: 0px 30px 0px 30px;
  }
  h2{
    font-family: "Oswald";
    text-transform: uppercase;
      letter-spacing: 3px;
      padding: 0px 30px 0px 30px;
  }

  .Close{
      background-color: var(--mainColor);
      color:var(--contrastColor);
      margin:auto;
      border-radius: 6px;
      font-size: clamp(9px, 4vw, 12px);
      padding: 5px 25px 5px 25px;
      text-transform: uppercase;
  }
  .exit{
      width:100vw;
      max-width: 400px;
      text-align: center;
      padding: 10px 0px 30px 0px;
      margin:auto;
  }

  blockquote {
    font-family: "Oswald";
    background: var(--mainColor);
    border-left: 10px solid rgb(167, 167, 167);
    margin: 1.5em 10px;
    padding: 1.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  
  blockquote p {
    display: inline;
  }


.contactIcons{
  margin: auto;
  text-align: center;}