



<!DOCTYPE html>
<html lang="en">

    {% load static %}

<link rel="stylesheet" type="text/css" href="/static/polls/style.css?{% now 'U' %}">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />




    <title>SSRG FrontEnd</title>
 

  <div class="App">

    <div id="header">
      <div class="Header">

        <a href="../menu"><img alt="SSRG Logo" class = "headShotImg" src = "https://demo.ssrg.online/Assets/logo.svg" ></img></a><br></br>
     
         <b>Automated Software Similarity
     Report Generator </b>
        
         <div class = "title">
         Sashen Naidoo - Sanele Hlongwane - Suvanth Ramruthen
         </div>
       
         </div>
    </div>
    

    <div id="main" class="mainArea" >
        <div class="PassChangeWrapper">
            <div class="PassChangeContainer">
<div class="form-group">
    <form method="post" class="formPass">
        {% csrf_token %} 
        {{form.as_p}}
        <button class="SubmitButtonPass">Change Password</button>
    </form>
</div>
</div>
</div>

</div>

<div id="footer">
  
  <div class="switchDisplayMode">
 Built with Django, Python & Celery
    </div>

  </div>


       </div>
     
       <a href="#popup1" class="help"></a>
       <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Help: Change Password</h2>
          <a class="close" href="#">&times;</a>
          <br>
          <div class="content">
            You are currently viewing the password change page.
            
            <ul>
                <li>Fill in all required fields and click on the "Change Password" button to make account changes.</li>
                <li>Please note the password creation criteria listed.</li>
            </ul>
          </div>
        </div>
      </div>

       <script>window.onload = window.onresize = function (){document.getElementById("main").style.height=(window.innerHeight-(document.getElementById("header").clientHeight+document.getElementById("footer").clientHeight))+"px";}   </script>
   </html>


