<!DOCTYPE html>
<html lang="en">

    {% load static %}

<link rel="stylesheet" type="text/css" href="/static/polls/style.css?{% now 'U' %}">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />




    <title>SSRG FrontEnd</title>
 

  <div class="App">

    <div id="header">
      <div class="Header">

        <a href="https://demo.ssrg.online/"><img alt="SSRG Logo" class = "headShotImg" src = "https://demo.ssrg.online/Assets/logo.svg" ></img></a><br></br>
     
         <b>Automated Software Similarity
     Report Generator </b>
        
         <div class = "title">
         Sashen Naidoo - Sanele Hlongwane - Suvanth Ramruthen
         </div>
       
         </div>
    </div>
    
<script> function UGAlert(){ alert("Halfway demo: The user guide is not available yet."); }
</script>
    <div id="main" class="mainArea" >

<div class="menuContainer">

<div class="menuMain">
    <div class="titleText">Select an option to continue</div>
    <a href="newJob"><button class="menuButton"><img class="buttonImg" src="{% static 'polls/submit.png' %}"></img><br>Submit a job</button></a>
    <br>
    <a href="viewJobs"><button  class="menuButton"><img class="buttonImg" src="{% static 'polls/report.png' %}"></img><br>View job status</button></a>
    <br>
    <button class="menuButton"><img class="buttonImg" src="{% static 'polls/guide.png' %}"></img><br>User Options</button>
    

</div>

</div>


    </div>
    
  
  
    <div id="footer">
 
    <div class="switchDisplayMode">
   Built with Django, Python & Celery
      </div>
 
    </div>
 
 
         </div>

         <a href="#popup1" class="help"></a>
         <div id="popup1" class="overlay">
          <div class="popup">
            <h2>Help: menu screen</h2>
            <a class="close" href="#">&times;</a>
            <br>
            <div class="content">
              You are currently viewing the main menu. 
              
              <ul>
                  <li>In order to submit a new job to MOSS through our system, click on the "Submit a Job" button. </li>
                  <li>In order to view jobs that have been submitted to MOSS through our system, click on the "View Job Status" button.</li>
                  <li>In order to change your email or password, click on the "User Options" button.</li>
              </ul>
            </div>
          </div>
        </div>
       
         <script>window.onload = window.onresize = function (){document.getElementById("main").style.height=(window.innerHeight-(document.getElementById("header").clientHeight+document.getElementById("footer").clientHeight))+"px";}   </script>
     </html>







