


<!DOCTYPE html>
<html lang="en">
    {% load widget_tweaks %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="/static/polls/style.css?{% now 'U' %}">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />




    <title>SSRG FrontEnd</title>
 

  <div class="App">

    <div id="header">
      <div class="Header">

        <a href="menu"><img alt="SSRG Logo" class = "headShotImg" src = "https://demo.ssrg.online/Assets/logo.svg" ></img></a><br></br>
     
         <b>Automated Software Similarity
     Report Generator </b>
        
         <div class = "title">
         Sashen Naidoo - Sanele Hlongwane - Suvanth Ramruthen
         </div>
       
         </div>
    </div>
    

    <div id="main" class="mainArea" >

<div class="SubmitJobContainer">
    <div>
    <div class="titleText">Submit a job</div>
    <br>
    <div class="SubmitJob">
<form action = "{% url 'new'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="newJobLabel">Job Name </label><br>
    {% render_field submission.slug class+="newJobTextIn" %}
    <br>
    <label class="newJobLabel">Language </label><br>
    {% render_field submission.language class+="newJobDropDown" %}
    <br>
    <label class="newJobLabel">Upload File Archive/Individual Jobs </label><br>
    {% render_field singles.files class+="newJobFileIn" %}
    <br>
    <label class="newJobLabel">Upload Basefile(s)</label><br>
    {% render_field singles.baseFile class+="newJobFileIn" %}
    <br>
    <label class="newJobLabel">Send Email </label><br>
    {% render_field submission.emailNow class+="newJobDropDown" %}
  
    <br>
    <button class = "SubmitButton" type="submit"> Submit</button>
</form>
</div>
</div>
</div>
</div>
    
  
  
<div id="footer">

<div class="switchDisplayMode">
Built with Django, Python & Celery
  </div>

</div>


     </div>
   
     <a href="logout" class="logoutPopup"></a>
     <a href="#popup1" class="help"></a>
     <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Help: Submit a job</h2>
        <a class="close" href="#">&times;</a>
        <br>
        <div class="content">
          You are currently viewing the job submission page. 
          
          <ul>
              <li>Fill out the details of your submission and attach submission file(s).</li>
              <li>Once you have attached submission file(s) and filled out all required fields, simply click on the "Submit" button.</li>
              <li>That's it! You will be redirected to the "View Job Status" page automatically.</li>
          </ul>
        </div>
      </div>
    </div>


    <!-- This function was used to automatically resize the mid-section of the page. This was done to achieve maximum viewheight on any client without overflowing onto the header or footer. On some clients, Window.innerHeight is NOT equal to the CSS viewheight "equivalent". -->
     <script>window.onload = window.onresize = function (){document.getElementById("main").style.height=(window.innerHeight-(document.getElementById("header").clientHeight+document.getElementById("footer").clientHeight))+"px";}   </script>
 </html>
