


<!DOCTYPE html>
<html lang="en">
    {% load widget_tweaks %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="/static/polls/style.css?{% now 'U' %}">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />




    <title>SSRG FrontEnd</title>
 

  <div class="App">

    <div id="header">
      <div class="Header">

        <a href="https://demo.ssrg.online/"><img alt="SSRG Logo" class = "headShotImg" src = "https://demo.ssrg.online/Assets/logo.svg" ></img></a><br></br>
     
         <b>Automated Software Similarity
     Report Generator </b>
        
         <div class = "title">
         Sashen Naidoo - Sanele Hlongwane - Suvanth Ramruthen
         </div>
       
         </div>
    </div>
    

    <div id="main" class="mainArea" >

<div class="SubmitJobContainer">
    <div>
    <div class="titleText">Submit a job</div>
    <br>
    <div class="SubmitJob">
<form action = "{% url 'new'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Job Name: </label><br>
    {% render_field submission.slug class+="newJobTextIn" %}
    <br>
    <label>Language: </label><br>
    {% render_field submission.language class+="newJobDropDown" %}
    <br>
    <label>Upload File Archive: </label><br>
    {% render_field submission.files class+="newJobFileIn" %}
    <br>
    <label>Basefile Title: </label><br>
    {% render_field submission.baseFile class+="newJobTextIn" %}
    <br>
    <label>Send Email: </label><br>
    {% render_field submission.emailNow class+="newJobDropDown" %}
  
    <br>
    <button class = "SubmitButton" type="submit"> Submit</button>
</form>
</div>
</div>
</div>
</div>
    
  
  
<div id="footer">

<div class="switchDisplayMode">
Built with Django, Python & Celery
  </div>

</div>


     </div>
   
     <script>window.onload = window.onresize = function (){document.getElementById("main").style.height=(window.innerHeight-(document.getElementById("header").clientHeight+document.getElementById("footer").clientHeight))+"px";}   </script>
 </html>
