      

<!DOCTYPE html>
<html lang="en">

    {% load static %}

<link rel="stylesheet" type="text/css" href="/static/polls/style.css?{% now 'U' %}">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />




    <title>SSRG FrontEnd</title>
 

  <div class="App">

    <div id="header">
      <div class="Header">

        <a href="https://demo.ssrg.online/"><img alt="SSRG Logo" class = "headShotImg" src = "https://demo.ssrg.online/Assets/logo.svg" ></img></a><br></br>
     
         <b>Automated Software Similarity
     Report Generator </b>
        
         <div class = "title">
         Sashen Naidoo - Sanele Hlongwane - Suvanth Ramruthen
         </div>
       
         </div>
    </div>
    

    <div id="main" class="mainArea" >
<!--Register--> 

	<div class="signUpContainer">
		<div class="signUpInternal">
	<form method="POST">
		{% csrf_token %}
		<div class="titleText">Sign up to continue</div>
		<br>
		<div class="loginInner">
		<div class ="loginInputLabel">Username</div>
			<input name="username"  class  ="loginInput"></input>
			<br>
			<div  class ="loginInputLabel">email address</div>
			<input name="email"  class  ="loginInput" ></input>
			<br>
		  
			<div  class ="loginInputLabel">Password</div>
			<input name="password1" type="password"  class  ="loginInput" ></input>
			<br>
			<div  class ="loginInputLabel">Confirm Password</div>
			<input name="password2" type="password"  class  ="loginInput" ></input>
			<br>
			<button type="submit"  class ="loginButton"><img  class ="loginImg" src="{% static 'polls/signup.png' %}"></img>
			<br>
		Sign Up
		 </button>

		 <p class="text-center">Already have an account? <a href="/login">Login</a></p>
		 </div>

		
	
	</form>
</div>
</div>
</div>


    
  
  
<div id="footer">

<div class="switchDisplayMode">
Built with Django, Python & Celery
  </div>

</div>


	 </div>
   
	 <a href="#popup1" class="help"></a>
	 <div id="popup1" class="overlay">
	  <div class="popup">
		<h2>Help: Registration</h2>
		<a class="close" href="#">&times;</a>
		<br>
		<div class="content">
		  You are currently viewing the registration page.
		  
		  <ul>
			  <li>Enter a username, email and password and click on "Sign Up" to continue. </li>
			  <li>If you have an account already, click on the "Login" link to be redirected to our login page.</li>
		  </ul>
		</div>
	  </div>
	</div>

	 <script>window.onload = window.onresize = function (){document.getElementById("main").style.height=(window.innerHeight-(document.getElementById("header").clientHeight+document.getElementById("footer").clientHeight))+"px";}   </script>
 </html>
